$lightblue: #004d99;
$darkgray: rgb(31,31,31);

html, body, section, .full-height {
    height: 100%;
    font: normal 20px "Open Sans", sans-serif;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

body {
  margin: 0;
  padding: 0;
}

#pad{

    width: 100%;
    height: 100%;

    border: none;
    overflow: auto;
    outline: none;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#markdown {
    overflow: auto;
    word-wrap: break-word;
    padding: 10px;
    padding-left: 0;
    p {
      font-size: 18px;
    }
}

textarea {
  background-color: #d8d8d8;
  padding: 10px;
}

.input-text {
  padding-right: 15px;
  padding-left: 0;
}
header {
  background-color: $lightblue;
  height: 50px;
}
footer {
  background-color: $darkgray;
  height: 50px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}
